<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
			<h1>
				Fabric 开发手册
			</h1>

			<div>
				<p>
					<img src="https://ecsoya.github.io/fabric/img/angryred.jpg" class="logo" width="200px"
						height="200px">
				</p>
				<p>
					<img src="https://ecsoya.github.io/fabric/img/email.png" width="16" height="16" style="margin-right: 5px;"> <a
						href="mailto:jin.liu@soyatec.com" style="margin-bottom: 4px;">jin.liu@soyatec.com</a>
				</p>
				<p style="vertical-align: center">
					<img src="https://ecsoya.github.io/fabric/img/GitHub-Mark-32px.png" width="16" height="16" style="margin-right: 5px; "> <a
						href="https://github.com/ecsoya" style="margin-bottom: 4px; padding-bottom: 4px;">https://github.com/ecsoya</a>
				</p>
			</div>
			<div>
				<h4>工具及文档</h4>
				<ul>
					<li><a href="https://ecsoya.github.io/fabric">首页</a></li>
					<li><a
						href="https://ecsoya.github.io/fabric/pages/network.html">Fabric
							网络部署</a></li>
					<li><a
						href="https://ecsoya.github.io/fabric/pages/network-config.html">Fabric
							Network Config</a></li>
					<li><a
						href="https://ecsoya.github.io/fabric/pages/gateway.html">Spring
							Fabric Gateway</a></li>
					<li><a
						href="https://ecsoya.github.io/fabric/pages/explorer.html">Spring
							Fabric Explorer</a></li>

					<li><a href="https://ecsoya.github.io/fabric/pages/demo.html">示例</a></li>
				</ul>
			</div>

		</header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small><a href="{{ site.github.owner_url }}">{{ site.github.owner_name }} &mdash; jin.liu@soyatec.com</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
