<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
<link rel="stylesheet" href="/fabric/assets/css/style.css?v={{append: site.github.build_revision | relative_url }}">
<!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="wrapper">
		<header>
			<div>
				<h3>Fabric 开发手册</h3>
				<ul>
					<li><a href="https://ecsoya.github.io/fabric">简介</a></li>
					<li><a
						href="https://ecsoya.github.io/fabric/pages/network.html">Fabric
							网络部署</a></li>
					<li><a
						href="https://ecsoya.github.io/fabric/pages/network-config.html">Fabric
							Network Config</a></li>
					<li><a
						href="https://ecsoya.github.io/fabric/pages/gateway.html">Spring
							Fabric Gateway</a></li>
					<li><a
						href="https://ecsoya.github.io/fabric/pages/explorer.html">Spring
							Fabric Explorer</a></li>

					<li><a href="https://ecsoya.github.io/fabric/pages/demo.html">示例</a></li>
					<li><a href="https://ecsoya.github.io/fabric/pages/qa.html">Q&A</a></li>
					<li><a href="https://ecsoya.github.io/fabric/pages/releases.html">版本更新</a></li>
				</ul>
			</div>

		</header>
		<section>{{ content }}</section>
		<footer>
			<p>
				<small><a href="{{ site.github.owner_url }}">AngryRed
						&mdash; angryred@qq.com</small>
			</p>
		</footer>
	</div>
	<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
</body>
</html>
