<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
			<h1>
				<a href="http://ecsoya.github.io">Ecsoya's </a> Fabric
			</h1>

			<p>
				<img src="img/toutiao_qrcode.jpeg" width="150px" height="150px">
			</p>
			<p>
				<img src="img/angryred.jpg" width="16" height="16"> <a
					href="https://www.toutiao.com/c/user/4212741055/#mid=1602850500081668">@AngryRED</a>
			
			<p>
				<img src="img/email.png" width="16" height="16"> <a
					href="mailto:jin.liu@soyatec.com">jin.liu@soyatec.com</a>
			</p>
			<p>
				<img src="img/GitHub-Mark-32px.png" width="16" height="16">
				<a href="https://github.com/ecsoya">https://github.com/ecsoya</a>
			</p>
			<div>
				<h5>工具及文档</h5>
				<ul>
					<li><a
						href="https://ecsoya.github.io/fabric/pages/network.html">Fabric网络搭建</a></li>
					<li><a
						href="https://ecsoya.github.io/fabric/pages/gateway.html">Fabric网关服务</a></li>
					<li><a
						href="https://ecsoya.github.io/fabric/pages/explorer.html">Spring区块链浏览器</a></li>
				</ul>
			</div>

		</header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small><a href="{{ site.github.owner_url }}">{{ site.github.owner_name }} &mdash; jin.liu@soyatec.com</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
